name: Proceso de Integraci贸n Continua

on:
  push:
    branches: [main]

jobs:
  build:
    name: Compilar el proyecto de core-components
    runs-on: ubuntu-latest
    env: 
      EXPO_TOKEN: ${{ secrets.EXPO_TOKEN }}
    steps:
      # Plugin para poder descargar el repositorio
      - name:  Descargar c贸digo fuente
        uses: actions/checkout@v3

      # Plugin para configurar Node
      - name:  Configurar Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: yarn

      # Acci贸n para configurar Expo
      - name:  Configurar EAS
        uses: expo/expo-github-action@v8
        with:
          expo-version: latest
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }}

      # Acci贸n para instalar dependencias
      - name:  Instalar dependencias
        run: yarn install
      
      # Acci贸n para publicar App
      - name:  Crea nueva version en Expo
        run: eas update --auto --non-interactive

      # Acci贸n build de Android
      #- name:  Crea nueva version en Expo
      #  run: eas build -p android --profile preview --non-interactive

      # To publish artifact locally
      # npm install --global expo-cli eas-cli
      # npx expo whoiam
      # npx expo login
      # eas build -p android --profile preview --non-interactive

